<footer id="footer">
  <%= render 'landing/footer/map' %>

  <div class="footertopbottom">
    <div class="footer_top">
      <div class="center_block">
        <div class="row">
          <div class="col-md-6">
            <h3 class="zagh3">Контакты</h3>
            <address class="footer_address">
              <a class="a_maps" href="https://goo.gl/maps/AZP3T6MTUcu" rel="nofollow" target="_blank">Махачкала<br>ул. Шамсулы Алиева, 6</a>
              <a class="a_tel" href="tel:+79285445977"><span>+ 7 (928) 544-59-77</span></a>
              <a class="a_mail" href="mailto:krasota@saida-kosmetolog.ru"><span>krasota@saida-kosmetolog.ru</span></a>
            </address>
          </div>
          <div class="col-md-6">
            <h3 class="zagh3">Мои работы</h3>
            <div class='work-images'>
              <%= image_tag 'widgetkit/1.jpg' %>
              <%= image_tag 'widgetkit/2.jpg' %>
              <%= image_tag 'widgetkit/3.jpg' %>
              <%= image_tag 'widgetkit/4.jpg' %>
              <%= image_tag 'widgetkit/5.jpg' %>
              <%= image_tag 'widgetkit/6.jpg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="center_block">
        <div class="row">
          <a class="sitename col-md-2" href="/" title="">Copyright © 2015<br>Врач-косметолог Гаджиева Саида Курамагомедовна</a>
        </div>
      </div>
    </div>
  </div>
</footer>
